.about {
    min-height: 637px;
    padding-top: 120px;
    &__wrapper {
        min-height: 517px;
        display: grid;
        grid-template-rows: minmax(245px, auto) minmax(235px, auto);
        grid-template-columns: 400px 570px;
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 37px;

    }
    &__photo-box {
        grid-row: 1/-1;
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
    }
    &__subtitle {
        margin-top: 6px;
    }
    &__title {
        margin-top: 9px;
        text-align: left;
    }
    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__skills {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 37px;
        grid-auto-rows: 1fr;
    }
    &__item {
        display: grid;
        grid-template-rows: minmax(99px, auto);
        grid-template-columns: 40px 200px;
        column-gap: 20px;
        grid-auto-rows: minmax(99px, auto);
    }
    &__icon-box {
        position: relative;
        justify-self: center;
        padding-top: 7px;
        @include before_circle;
        &:before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__icon {
        max-width: 100%;
        object-fit: cover;
    }
    &__descr {
        margin-top: 6px;
    }
}