.burger {
    height: 21px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    &__item {
        height: 3px;
        width: 30px;
        background-color: #000;
        &:nth-child(2) {
            width: 100%;
        }
    }
}