.introduction {
    padding-top: 206px;
    min-height: 100vh;
    background: url('../images/main_bg.png') 70% 55%/cover no-repeat;
    &__subtitle {
        @include before_circle_text;
    }
    &__title {
        margin: 0;
        padding: 0;
        padding-top: 7px;
    }
    &__wrapper {
        margin-top: 27px;
        min-height: 45px;
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        padding: 12px 0;
        width: 48%;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        transition: all 0.3s;
        border: 2px solid $main_color;
        border-radius: 8px;
        &:first-child {
            background-color: $main_color;
        }
        &:hover {
            color: #fff;
            background: $main_bgcolor;
            box-shadow: -2px 5px 10px 0px #1ac3ee ;
        }    
    }


}