.menu {
    display: flex;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.7s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    &--enabled {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    &__cross {
        position: absolute;
        top: 25px;
        right: 25px;
        height: 29px;
        width: 29px;
        font-size: 38px;
        line-height: 29px;
        text-align: center;
        cursor: pointer;
    }
    &__wrapper {
        padding: 140px 0 0 75px;
        z-index: 10;
        position: relative;
        height: 100vh;
        width: 345px;
        background: $main_bgcolor;
        border-radius: 0 10px 10px 0;
        box-shadow: 1px 0px 35px 0px black;
        
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;        
        background: rgba(255, 255, 255, 0.75);
    }
    &__social {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}