.nav {
    &__list {
        position: relative;
    }
    &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        &:hover {
            color:#FFFFFF;
        }
    }
    &__item:nth-child(-n+4) {
        margin-bottom: 15px;
    }
    &__item:before {
        content: '';
        position: absolute;
        left: -35px;
        margin-top: 7px;
        border: 10px solid transparent; 
        border-bottom: 10px solid white;
        border-radius: 100%;
    }
    &__item:hover {
        &:before {
            transform: scale(1.1) rotate(90deg);
            transition: all 0.5s;
            border-top: 10px solid black;
        }
    }
}


