.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    &--m {
        font-size: 36px;
        line-height: 60px;
        text-align: center;
    }
    &--s {
        font-size: 20px;
        line-height: 30px;
    }
    &--xs {
        font-size: 14px;
        line-height: 21px;
    }
}